/* Put all site-wide css here!! */

body {
    /* shift content down below navbar */
    padding-top:50px;
    /* add padding to bottom of page */
    padding-bottom:20px;
}

/* give a little extra room on edges of base container */
div#content {
    padding-left:30px;
    padding-right:30px;
}

/* class for images on the recipe detail page */
.recipe-detail-img {
    max-height: 430px;
}

/* class for thumbnails in the index page's search results */
.recipe-thumb-img {
    max-height: 216px;
}

/* class to hide special input fields */
.hidden-field {
    display: none;
}

/* center the pagination nav bar thing */
#pages-nav {
    position: relative;
    left: 50%;
}
#pages-nav>li {
    position:relative;
    right:50%
}
