{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1>Register with Cookin</h1>

{% if registered %}
Cookin says: <strong>thank you for registering!</strong>
<a href="/app/">Return to the homepage.</a><br />
{% else %}
Cookin says: <strong>register here!</strong><br />

<form id="user_form" method="post" action="/app/register/"
    enctype="multipart/form-data">

    {% csrf_token %}

    {% bootstrap_form user_form %}
    {% bootstrap_form profile_form %}

    {% bootstrap_button "Register" name="submit" button_type='submit' %}
</form>
{% endif %}
{% endblock %}
