{% block content %}
    <h1>Add new recipe!</h1>

    {% if not valid %}
        <p>Please enter valid information!</p>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}

        <p>Recipe Title</p>
        {{ form.recipe_title }}<br>

        <p>Recipe Text</p>
        {{ form.recipe_text }}<br>

        <p>Prep time (minutes)</p>
        {{ form.prep_time_minutes }}<br>

        <p>Cooking time (minutes)</p>
        {{ form.cooking_time_minutes }}<br>

        <p>Ingredients (Format: carrot:1 | bell pepper:2)</p>
        {{ form.recipe_ingredients }}<br>

        <p>Number of Servings</p>
        {{ form.num_servings }}<br>

        <p>Tools (comma separated)</p>
        {{ form.tools }}<br>

        <p>Satisfied Dietary Restrictions (comma separated)</p>
        {{ form.dietary_restrictions }}<br>

        <p>Tags (comma separated)</p>
        {{ form.recipe_tags }}<br>

        <p>Image Upload</p>
        {{ form.recipe_image }}<br><br>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
