{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="page-header">
    <h1>Edit Recipe!</h1>
</div>

    {% if not valid %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Please enter valid information!</strong>
    </div>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}

        {% bootstrap_label "Recipe Title" label_for="id_recipe_title" %}
        {% bootstrap_field form.recipe_title show_label=False %}

        {% bootstrap_label "Recipe Text" label_for="id_recipe_text" %}
        {% bootstrap_field form.recipe_text show_label=False %}

        {% bootstrap_label "Prep time (minutes)" label_for="id_prep_time_minutes" %}
        {% bootstrap_field form.prep_time_minutes show_label=False %}

        {% bootstrap_label "Cooking time (minutes)" label_for="id_cooking_time_minutes" %}
        {% bootstrap_field form.cooking_time_minutes show_label=False %}

        <input class="hidden-field" id="id_recipe_ingredients" name="recipe_ingredients" type="text" readonly="readonly" value="{{ingredients}}">

        <label>Ingredients</label>
        <div id="ing-container">
        </div>
        <div class="form-group">
            <span id="ing-add" class="btn btn-default">Add Ingredient</span>
        </div>

        {% bootstrap_label "Estimated cost (dollars)" label_for="id_estimated_cost" %}
        {% bootstrap_field form.estimated_cost show_label=False %}

        {% bootstrap_label "Number of Servings" label_for="id_num_servings" %}
        {% bootstrap_field form.num_servings show_label=False %}

        <div class="form-group">
            {% bootstrap_label "Tools (comma separated)" label_for="id_tools" %}
            <input type="text" class="form-control" id="id_tools" name="tools"
            value="{{ recipe.tools.all | join:", " }}">
        </div>

        <div class="form-group">
            {% bootstrap_label "Satisfied Dietary Restrictions (comma separated)" label_for="id_dietary_restrictions" %}
            <input type="text" class="form-control" id="id_dietary_restrictions" name="dietary_restrictions"
            value="{{ recipe.dietary_restrictions.all | join:", " }}">
        </div>

        <div class="form-group">
            {% bootstrap_label "Tags (comma separated)" label_for="id_recipe_tags" %}
            <input type="text" class="form-control" id="id_recipe_tags" name="recipe_tags"
            value="{{ recipe.recipe_tags.all | join:", " }}">
        </div>

        {% bootstrap_label "Image Upload" label_for="" %}
        {% bootstrap_field form.recipe_image show_label=False %}

        <button class="btn btn-primary" type="submit" id="submit_recipe">Submit</button>
    </form>
{% endblock %}

{# Tell django we're using static files #}
{% load staticfiles %}
{# Attach a js file! #}
{% block javascript %}
<script type="text/javascript" src="{% static "ingredient_input.js" %}"></script>
{% endblock %}
