{# Tell django what the base template is #}
{% extends "base.html" %}

{# laod the django package's form helpers #}
{% load bootstrap3 %}

{# Title of page to be displayed on browser tab: Cookin | <title of recipe> #}
{% block title %}{{ recipe.recipe_title }}{% endblock %}

{# All content of this page goes in the 'content' block #}
{% block content %}
<div class="page-header">
    <h1>{{ recipe.recipe_title }}</h1>

    <p>Written by {{ recipe.recipe_owner }}</p>
</div>
{# bootstrap content goes in rows! (then columns) #}
<div class="row">
    {% if recipe.recipe_image %}
    <div class="col-sm-5">
        <img src="{{ MEDIA_URL }}{{recipe.recipe_image}}" class="img-responsive img-thumbnail center-block recipe-detail-img" alt=""/>
    </div>
    <div class="col-sm-7">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <h3>General Info</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Average rating: {{recipe.average_rating.rating_stars__avg}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Number of servings: {{recipe.num_servings}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Prep time: {{recipe.prep_time_minutes}} minutes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Cooking time: {{recipe.cooking_time_minutes}} minutes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Estimated cost: {{recipe.estimated_cost}} dollars</p>
                <p>Total time: {{recipe.total_time}} minutes</p>
            </div>
        </div>
        {% if recipe.tools.all %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Tools</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for tool in recipe.tools.all %}
                    <li>{{ tool }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if recipe.dietary_restrictions.all %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Satisfied Dietary Restrictions</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for restriction in recipe.dietary_restrictions.all %}
                    <li>{{ restriction }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if recipe.recipe_tags.all %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Tags</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for tag in recipe.recipe_tags.all %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Directions</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>{{recipe.recipe_text}}</p>
    </div>
</div>

{% if recipe.ingredient_in_recipe_set.all %}
<div class="row">
    <div class="col-sm-12">
        <h3>Ingredients</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul>
            {% for ingredient in recipe.ingredient_in_recipe_set.all %}
            <li>
            {{ ingredient.ingredient }} - {{ ingredient.num_units }} {{ ingredient.unit_name }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<!-- display comments -->
{% if recipe.ratings.all %}
<div class="row">
    <div class="col-sm-12">
        <h3>Comments</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {% for rating in recipe.ratings.all %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{ rating.rating_user.user.username }} said on {{ rating.rating_date|date:"D M jS" }}: </h4>
            </div>
            <div class="panel-body">
                {% if rating.rating_image %}
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{rating.rating_image}}" width="50%" alt=""/>
                    </div>
                </div>
                <div class="col-sm-9">
                {% else %}
                <div class="col-sm-12">
                {% endif %}
                    <p>
                    {{ rating.rating_comment }}
                    </p>
                    <p>
                    Rating: {{ rating.rating_stars }} of 5
                    </p>
                    <p>
                    Price: {{ rating.rating_price }} dollars
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}


<!-- Add comment only if user is logged in-->
{% if user.is_authenticated %}
<div class="row">
    <div class="col-sm-12">
        <h3>Add Comment</h3>
    </div>
</div>
<div class="row">
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Submit" name="submit" button_type='submit' %}
    </form>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        {% bootstrap_button "Register" button_type='button' href="/app/register/" button_class='btn-default' %}
        or
        {% bootstrap_button "Login" button_type='button' href="/app/login/" button_class='btn-default' %}
        to comment.
    </div>
</div>
{% endif %}



    <!-- Add edit recipe functionality -->
    {% if user.profile == recipe.recipe_owner %}
    <a href="{% url 'recipe_update' recipe_id=recipe.id %}">Update This Recipe</a>
    {% endif %}


{% endblock %}
