{# Tell django what the base template is #}
{% extends "base.html" %}

{# laod the django package's form helpers #}
{% load bootstrap3 %}

{# Title of page to be displayed on browser tab: Cookin | <title of recipe> #}
{% block title %}{{ recipe.recipe_title }}{% endblock %}

{# All content of this page goes in the 'content' block #}
{% block content %}
<div class="page-header">
    <h1>{{ recipe.recipe_title }}</h1>
</div>
{# bootstrap content goes in rows! (then columns) #}
<div class="row">
    {% if recipe.recipe_image %}
    <div class="col-sm-5">
        <img src="{{ MEDIA_URL }}{{recipe.recipe_image}}" class="img-responsive img-thumbnail center-block recipe-detail-img" alt=""/>
    </div>
    <div class="col-sm-7">
    {% else %}
    <div class="col-sm-12">
    {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <p>Number of servings: {{recipe.num_servings}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Prep time: {{recipe.prep_time_minutes}} minutes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Cooking time: {{recipe.cooking_time_minutes}} minutes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Estimated cost: {{recipe.estimated_cost}} dollars</p>
            </div>
        </div>
        {% if recipe.tools.all %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Tools</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for tool in recipe.tools.all %}
                    <li>{{ tool }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if recipe.dietary_restrictions.all %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Satisfied Dietary Restrictions</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for restriction in recipe.dietary_restrictions.all %}
                    <li>{{ restriction }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if recipe.recipe_tags.all %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Tags</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    {% for tag in recipe.recipe_tags.all %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Directions</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>{{recipe.recipe_text}}</p>
    </div>
</div>

{% if recipe.ingredient_in_recipe_set.all %}
<div class="row">
    <div class="col-sm-12">
        <h3>Ingredients</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul>
            {% for ingredient in recipe.ingredient_in_recipe_set.all %}
            <li>
            {{ ingredient.ingredient }} - {{ ingredient.num_units }} {{ ingredient.unit_name }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

    <!-- display comments -->
    {% if recipe.ratings.all %}
    <h3>Comments</h3>
    <div class="comments">
        {% for rating in recipe.ratings.all %}
            <span>{{ rating.rating_user.user.username }} said on {{ rating.rating_date }}:
            </span>
            {% if rating.rating_image %}
                <img src="{{ MEDIA_URL }}{{rating.rating_image}}" width="50%" alt=""/>
            {% endif %}
            <p>
                {{ rating.rating_comment }}
            </p>
            <p>
                Rating: {{ rating.rating_stars }} of 5
            </p>
            <p>
                Price: {{ rating.rating_price }} dollars
            </p>
        {% endfor %}
    </div>
    {% endif %}

    <br />

    <!-- Add comment only if user is logged in-->
    {% if user.is_authenticated %}
    <h3>Add Comment</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="submit" value="Submit" />
    </form>
    {% else %}
    <a href="/app/register/">Register to comment</a><br />
    <a href="/app/login/">Login to comment</a><br />
    {% endif %}

{% endblock %}
